nav
  ul.menu
    li
      a.active(href='/')  | About You
    li
      a(href='/men') | Men
    li
      a(href='/women') | Women
    li
      a(href='/cart') | Cart
    li
      a(href='/wishlist') | Wishlist
    
  

